<nb-layout>
    <nb-layout-column>
        <nb-card [size]="'medium'">
            <nb-card-body>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div *ngFor="let input of inputs" class="form-row">
                        <div [ngSwitch]="input.name">
                            <input type="text" fullWidth placeholder="{{input.hint}}" nbInput *ngSwitchCase="'TEXT'"
                                formControlName="{{input.id}}" minlength="{{input.min_length}}"
                                maxlength="{{input.max_length}}" [required]="input.required">
                            <input type="email" fullWidth placeholder="example@email.com" nbInput
                                *ngSwitchCase="'EMAIL'" [required]="input.required" formControlName="{{input.id}}">
                            <input type="url" fullWidth placeholder="www.website.com" nbInput *ngSwitchCase="'URL'"
                                formControlName="{{input.id}}" [required]="input.required">
                            <div *ngSwitchCase="'NUMBER'">
                                <input type="number" placeholder="{{input.hint}}" nbInput formControlName="{{input.id}}"
                                    min="{{input.min}}" max="{{input.max}}" [required]="input.required">
                                <button type="button" *ngIf="input.auto_calculated"
                                    (click)="autoCalculate(input.operation)" nbButton
                                    status="success">Calculate</button>
                            </div><br>
                            <div *ngSwitchCase="'DATE'">
                                <input [nbDatepicker]="datepicker" nbInput placeholder="22/07/1998"
                                    [required]="input.required" formControlName="{{input.id}}">
                                <nb-datepicker #datepicker></nb-datepicker>
                            </div>
                            <nb-select [multiple]="input.multiple" placeholder="{{input.label}}" *ngSwitchCase="'DROPDOWN'"
                                formControlName="{{input.id}}">
                                <nb-option *ngFor="let option of input.options" [value]="option">{{option}}</nb-option>
                            </nb-select>
                            <input type="file" fullWidth nbInput *ngSwitchCase="'FILE'" [required]="input.required"
                                formControlName="{{input.id}}" [accept]="input.mime_type">
                        </div>
                    </div>
                    <button type="submit" nbButton status="primary">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>